<mat-toolbar color="primary" class="toolbar-with-default-shadow">
    <mat-toolbar-row>
        <div class="nest-logo"></div>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon" class="more-button"  aria-hidden="true" >person</mat-icon>Amanda Connolly<mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>My Profile</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
        <button mat-button>
            Notifications<mat-icon matBadge="5" matBadgeSize="small" matBadgeColor="warn" aria-hidden="true">notifications</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="sub-toolbar">
    </mat-toolbar-row>
</mat-toolbar>