<mat-card class="widget dashboard-card">
  <mat-card-header>
    <nest-widget-header title='Annual Retirement Income'></nest-widget-header>
  </mat-card-header>
  
  <mat-card-content  class="widget-content dashboard-card-content">
      <div class="widget-image"></div>
      <div class="widget-info">
        <div class="widget-data mat-h1">$160,287</div>
        <div class="widget-description mat-small">Using baseline calculations for 2019</div>
      </div>
  </mat-card-content>
  <mat-card-actions class="widget-actions">
    <button mat-flat-button color="primary">Optimize for Annual Income</button>
  </mat-card-actions>
</mat-card>