<mat-card class="widget mat-elevation-z6">
  <nest-widget-header [title]="title"></nest-widget-header>
  <mat-card-content  class="widget-content">
      <div class="widget-image" [ngStyle]="{ 'background-image': img }"></div>
      <div class="widget-info">
        <div class="widget-data" >${{value | number}}</div>
        <div class="widget-description" >{{description}}</div>
      </div>
  </mat-card-content>
  <mat-card-actions class="widget-actions">
    <button mat-flat-button color="primary" (actionClick)="click($event)">{{actionText}}</button>
  </mat-card-actions>
</mat-card>