<mat-card class="widget mat-elevation-z6">
  <nest-widget-header [title]="title" [description]="description" [expandable]="true"></nest-widget-header>
  <mat-card-content  class="widget-content">
    <div class="mat-display-1 widget-year">{{displayYear}}</div>
    <div class="mat-small widget-age">Age {{payload.currentAge}}</div>
    <div class="details">
      <nest-slider 
        [startYear]="payload.slider.startYear"
        [endYear]="payload.slider.endYear"
        (selectYear)="selectYear($event)"
      ></nest-slider>
      <nest-todo-list [todoList]="todoList"></nest-todo-list>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="widget-actions">
    <button class="action-button" mat-button color="primary" (click)="click($event)">Export Action Plan</button>
  </mat-card-actions>
</mat-card>