
.widget {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 20px;
  padding-bottom: 50px;
  padding-top: 20px;
}
nest-widget-header {
  margin-bottom: 30px;
}

.widget-actions {
  padding: 10px;
}

.widget-content {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
}

.widget-info {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}
.widget-image {
  background-image: url('/assets/img/Financial freedom.svg');
  width: 104px;
  min-height: 64px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

}

