@import '../../nest-theme';
@mixin nest-widget-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  .widget {
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-color: mat-color($accent, A400);
    min-width: 352px;
  }
  nest-widget-header {
    margin-bottom: 22px;
  }

  .widget-actions {
    padding: 10px;
    button {
      width: 100%;
    }
  }

  .widget-content {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
  }

  .widget-info {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    padding: 5px;
  }
  .widget-image {
    width: 104px;
    min-height: 64px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  .widget-data {
    color: mat-color($primary);
    margin: 0;
  }
  
  .widget-description {
    color: mat-color($accent, 400);
    padding-left: 5px;
  }
}

@mixin nest-widget-typography($config) {
  .widget-data {
    font: {
      family: mat-font-family($config, display-1);
      size: mat-font-size($config, display-1);
      weight: mat-font-weight($config, display-1);
    }
  }
  .widget-description {
    font: {
      family: mat-font-family($config, caption);
      size: mat-font-size($config, caption);
      weight: mat-font-weight($config, caption);
    }
  }
}

@include nest-widget-theme($nest-app-theme);
@include nest-widget-typography($nest-typography);
