<div class="todo-container">
  <mat-list id="todo">
    <mat-list-item *ngFor="let item of todoList; last as last">
      <mat-icon class="done-icon" [class.checked]="item.done">done</mat-icon>
      <div class=description>{{item.description}}</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
      <mat-divider  *ngIf="!last"></mat-divider>
    </mat-list-item>

  </mat-list>
</div>