<div class="todo-container">
  <mat-list id="todo">
    <mat-list-item>
      <mat-icon class="done-icon checked">done</mat-icon>
      <div class=description>Withdraw $16,112 from RRSP F2UA0S0Q.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="done-icon">done</mat-icon>
      <div class=description>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="done-icon">done</mat-icon>
      <div class=description>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="done-icon checked">done</mat-icon>
      <div class=description>Withdraw $16,112 from RRSP F2UA0S0Q.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="done-icon">done</mat-icon>
      <div class=description>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="done-icon">done</mat-icon>
      <div class=description>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz.</div>
      <div class="spacer"></div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item>Mark as Done</button>
        <button mat-menu-item>Edit Action</button>
      </mat-menu>
      <button class="action-menu" mat-icon-button [matMenuTriggerFor]="listMenu">
        <mat-icon class="action-menu-icon">more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>